/* Colours */

$DT-black: #1A1919;
$DT-dark-grey: #858383;
$DT-light-grey: #F5F5F5;
$DT-white: #FBFAF9;
$DT-primary-light: #FDF1E8;
$DT-primary: #F5DFCF;
$DT-primary-dark: #EFAE80;
$DT-accent-light: #FFC0B4;
$DT-accent: #F18C79;
$DT-accent-dark: #97301C;
$DT-bckgrd: linear-gradient(180deg, rgba(245, 223, 207, 0.47) 0%, #FBFAF9 100%), #FBFAF9;


/* Responsive */

$tablet: 1050px;
$mobile: 700px;

@mixin grid {
  @media screen and (min-width: ($mobile + 1)) {
    @supports (grid-area: auto) {
      @content;
    }
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
      @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
      @content;
  }
}


/* Animation */

$delay: 1s;

@mixin appear {
  opacity: 0;
  transform: translateY(30%);
  animation: 1s ease-out 1 normal forwards running appear;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@mixin appear-img {
  opacity: 0;
  transform: translateY(15px);
  animation: 1s ease-out 1 normal forwards running appear-img;
}

@keyframes appear-img {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@mixin appear-link {
  opacity: 0;
  animation: 1s ease-out 1 normal forwards running appear-link;
}

@keyframes appear-link {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Other */

@mixin shadow {
  box-shadow: 0px 0px 16px rgba(133, 131, 131, 0.3);
}

@mixin border-rad {
  border-radius: 9px;
}