@import "variables";

$mobile-top-offset: 20%;
$mobile-side-offset: 10%;

.leftGradient,
.rightGradient {
  @include grid {
    grid-row: 2/3;
    z-index: 1;
  }

  @include mobile {
    display: none;
  }
}

.leftGradient {
  @include grid {
    grid-column: 1/5;
    background: linear-gradient(90deg, $DT-light-grey 80%, rgba(245, 245, 245, 0) 100%);
  }
}

.rightGradient {
  @include grid {
    grid-column: 11/15;
    background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, $DT-light-grey 20%);
  }
}

.buttonContainer {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include grid {
    grid-row: 2/3;
    grid-column: 3/13;
  }

  @include mobile {
    position: absolute;
    height: calc(100% - $mobile-top-offset - $mobile-side-offset);
    top: $mobile-top-offset;
    left: 0;
    padding: 0 1em;
  }

  button {
    width: max-content;
    height: max-content;
    justify-self: center;
    align-self: center;
    background: none;
    color: $DT-accent-dark;

    &:hover,
    &:focus,
    &:active {
      background: none;
      color: $DT-accent;
    }
  }
}

.carousel {
  position: relative;
  padding: 4em 2em;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scrollbar-width: none;

  @include grid {
    grid-row: 2/3;
    grid-column: 2/14;
  }

  @include mobile {
    min-height: 40vh;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: relative;

  @include grid {
    grid-row: 2/3;
    grid-column: 5/11;
  }

  @include mobile {
    width: calc(100% - 2 * $mobile-side-offset);
    height: calc(100% - $mobile-top-offset - 5%);
    position: absolute;
    top: $mobile-top-offset;
    left: $mobile-side-offset;
  }

  &:before,
  &:after {
    position: absolute;
    color: $DT-accent;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 82px;
    line-height: 50%;
  }

  &:before {
    content: '“';
    top: 0.2em;
    left: 0;
  }

  &:after {
    content: '”';
    bottom: 0;
    right: 0;
  }
}
