@import "variables";

.card {
  position: relative;
  flex: 0 0 50%;
  margin: 0 1em;
  padding: 1em;
  background: $DT-white;
  @include border-rad;
  @include shadow;

  @include tablet {
    // margin: 1.5em 0 3em 0;
  }

  @include mobile {
    // margin: 2.4em 0 4.8em 0;      
  }
}

.empty {
  background: none;
  box-shadow: none;
}

.textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.from {
  padding-top: 1em;
  text-align: right;
}
