@import "variables";

.carouselContainer {
  position: relative;
  padding-top: 75%;
  // filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;

  @include grid {
    grid-row: 2/3;
    grid-column: 2/14;
    width: 100%;
  }
}

.carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
