@import "variables";

.projectCard {
  width: 100%;
  height: max-content;
  margin: 5.6em auto 11.2em auto;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin: 1.5em 0 3em 0;
  }

  @include mobile {
    margin: 2.4em 0 4.8em 0;      
  }
}

.projectContainer {
  display: block;
  width: 100%;
  @include border-rad;
  transition: all 0.5s ease-in-out;

  &:hover,
  &:focus {
    color: $DT-black;

    h4 {
      color: $DT-accent;
    }
  }

  .numCard {
    margin: 0;
  }

  h4 {
    margin-top: 0.2em;
    transition: all 0.5s ease-in-out;
  }

  .projectImg {
    @include border-rad;
    max-width: 700px;
    height: auto;
  }

  @include mobile {
    .text-link {
      display: inline;
    }
  }

  @include grid {
    padding: 2em;
    display: grid;
    grid-template-rows: 2em 5em auto auto;
    grid-column-gap: 2.9em;

    @include tablet {
      display: block;
    }

    &:hover,
    &:focus {
      @include shadow;
      transform: scale(1.01);
    }

    .numCard {
      grid-area: num;
      align-self: flex-start;
    }

    h4 {
      grid-area: title;
      align-self: flex-start;
    }
    
    .descr {
      grid-area: descr;
    }

    .moreLink {
      display: none;
    }
  
    .stackTags {
      grid-area: stack;
      align-self: flex-end;
    }

    .projectImg {
      grid-area: image;
      align-self: flex-start;
    }
  }
}

.projectCard:nth-of-type(2n+1) {

  @include grid {
    .projectContainer {
      grid-template-columns: 3fr 7fr;
      grid-template-areas:
      "num image"
      "title image"
      "descr image"
      "stack image";
    }  
  }
}

.projectCard:nth-of-type(2n) {
  @include grid {
    .projectContainer {
      grid-template-columns: 7fr 3fr;
      grid-template-areas:
      "image num"
      "image title"
      "image descr"
      "image stack";
    }
  }
}
